<table>
  <% messages.each(function(message) { %>
    <tr class="summary" data-id="<%= message.get('id') %>">
      <td class="contact"><%= message.contactName() %></td>
      <td><%= message.get('body') %></td>
      <td>Date</td>
    </div>
  <% }); %>
</table>
