html {
  height: 100%;
}

// colors
$dark-text: #323232;
$light-text: #717272;
$info-text: #65ade3;
$dark-background: #252525;
$hover-background: #d0d2d2;
$selected-background: $info-text;
$mid-background: #fbfbfb;
$header-background: $hover-background;
$light-background: #fff;
$divider: #ebeeee;

body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.8em;
  background-color: $mid-background;
  color: $dark-text;
  height: 100%;
  margin: 0;
  padding: 0;
}

#menubar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 100%;
  background-color: $dark-background;
  a {
    display: block;
    width: 40px;
    margin: 5px auto;
  }
}

#leftColumn {
  border-right: 2px solid $divider;
  #threadList {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 299px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid $divider;
    .thread {
      border-bottom: 1px solid $divider;
      padding: 7px;
      position: relative;
      cursor: pointer;
      color: $light-text;
      header {
        position: relative;
        margin-bottom: 5px;
        .contact {
          font-weight: bold;
          color: $dark-text;
        }
        .date {
          position: absolute;
          right: 5px;
          color: $info-text;
        }
      }
    }
    .thread.unread {
      background-color: $hover-background;
    }
    .thread:hover {
      background-color: $hover-background;
    }
    .thread.selected {
      background-color: $selected-background;
      color: #fff;
      header {
        .date {
          color: #fff;
        }
      }
    }
  }
}

.loading {
  width: 300px;
  padding-top: 300px;
  font-size: 1.8em;
  color: $light-text;
  margin: 0 auto;
  text-align: center;

  img {
    display: block;
    margin: 10px auto;
  }
}

#rightColumn {
  position: absolute;
  top: 0;
  left: 320px;
  width: 450px;
  height: 100%;
  background-color: $light-background;
  .threadView {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    .replyView {
      position: absolute;
      top: 35px;
      left: 0;
      width: 100%;
      z-index: 999;
      .reply-cont {
        width: 90%;
        margin: 0 auto;
        background-color: $header-background;
        border: 1px solid $divider;
        padding: 5px;
        textarea {
          height: 200px;
          padding: 10px;
          font-family: 'Helvetica', Arial, sans-serif;
          font-size: 1.8em;
        }
      }
    }
    .cont > header {
      background-color: $header-background;
      font-weight: bold;
      padding: 10px 15px;
      font-size: 1.2em;
      .reply-button {
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
      }
    }
    .message {
      font-size: 1.2em;
      border-bottom: 1px solid $divider;
      padding: 10px 20px;
      position: relative;
      line-height: 130%;
      header {
        position: relative;
        margin-bottom: 5px;
        .contact {
          font-weight: bold;
        }
        .date, .menu {
          position: absolute;
          right: 5px;
        }
        .date, .menu a {
          color: $light-text;
        }
        .menu {
          display: none;
        }
      }
      a {
        color: $info-text;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .message.you {
      background-color: $mid-background;
    }
    .message:hover {
      .date {
        display: none;
      }
      .menu {
        display: inline;
      }
    }
  }
}
