body {
  font-family: arial, sans-serif;
  padding: 10px;
  font-size: 0.8em;
  color: #999; }

/*
 * CONTACTS
 */

#contacts {
  float: left;
  width: 240px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px;
  background-color: #30F261;
  #list {
    overflow: auto;
    height: 400px; }
  > * {
    background-color: #FFF; }
  form {
    padding: 3px; }
  article {
    padding: 3px;
    > header {
      cursor: pointer; }
    header {
      color: #000;
      padding: 3px 0;
      font-weight: bold; }
    &:hover {
      background-color: #F2F0A5; } }
  form {
    text-align: center;
    input[type=search] {
      width: 95%; } }
  article .details {
    background-color: #fff;
    font-weight: normal;
    padding: 3px;
    header {
      padding: 0; }
    section {
      margin-top: 5px; } } }

/*
 * THREADS
 */

#threads {
  overflow: auto;
  margin-left: 270px;
  background-color: #59C6EB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px;
  > * {
    background-color: #fff; }
  table {
    width: 100%;
    td {
      padding: 3px;
      &.contact {
        color: #333; } }
    tr {
      &.unread {
        td {
          font-weight: bold;
          color: #000; }
        background-color: #fff; }
      background-color: #eee;
      &:hover {
        background-color: #F2F0A5;
        cursor: pointer; } } } }

/*
 * MESSAGES
 */

#messages {
  margin-left: 270px;
  background-color: #FAD461;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px;
  > * {
    background-color: #fff;
  }
  #threadview {
    background-color: #eee;
    max-height: 400px;
    overflow: auto;
    padding-right: 5px;
    table {
      width: 100%;
      td {
        &.contact {
          color: #333; }
        padding: 3px; }
      tr {
        background-color: #eee;
        padding: 3px; } }
  }
  form {
    background-color: #eee;
    padding: 5px;
    textarea {
      width: 97%;
      height: 150px;
      overflow: auto;
      margin: 5px 0;
      padding: 5px;
      font-family: arial, sans-serif; }
    header {
      color: #000;
      font-weight: bold; } } }

/*
 * REPLY FORM
 */
