html {
  height: 100%;
}

// colors
$dark-text: #323232;
$light-text: #717272;
$dark-background: #252525;
$selected-background: #d0d2d2;
$mid-background: #fbfbfb;
$header-background: $selected-background;
$light-background: #fff;
$divider: #ebeeee;

body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.8em;
  background-color: $mid-background;
  color: $dark-text;
  height: 100%;
  margin: 0;
  padding: 0;
}

#menubar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 75px;
  height: 100%;
  background-color: $dark-background;
}

#threadList {
  position: absolute;
  top: 0px;
  left: 75px;
  width: 350px;
  height: 100%;
  border-right: 1px solid $divider;
  overflow: auto;
  .thread {
    border-bottom: 1px solid $divider;
    padding: 14px 7px;
    position: relative;
    cursor: pointer;
    header {
      position: relative;
      margin-bottom: 5px;
      .contact {
        font-weight: bold;
      }
      .date {
        position: absolute;
        right: 5px;
        color: $light-text;
      }
    }
  }
  .thread:hover {
    background-color: $selected-background;
  }
}

#rightColumn {
  position: absolute;
  top: 0;
  left: 425px;
  width: 400px;
  height: 100%;
  background-color: $light-background;
  #threadView {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    .no-conversation {
      width: 300px;
      padding-top: 300px;
      font-size: 1.8em;
      color: $light-text;
      margin: 0 auto;
      text-align: center;
    }
    > header {
      background-color: $header-background;
      font-weight: bold;
      padding: 15px;
      font-size: 1.2em;
    }
    .message {
      border-bottom: 1px solid $divider;
      padding: 15px;
      position: relative;
      cursor: pointer;
      line-height: 130%;
      header {
        position: relative;
        margin-bottom: 5px;
        .contact {
          font-weight: bold;
        }
        .date {
          position: absolute;
          right: 5px;
          color: $light-text;
        }
      }
    }
    .message.you {
      background-color: $mid-background;
    }
  }
}
