<div class="thread" data-id="<%= thread.id %>">
  <span class="contact">
    <%= thread.contactName() %>
  </span>
  <span class="date">
    <%= thread.date() %>
  </span>
  <p>
    <%= thread.get('body') %>
  </p>
</div>
