#leftColumn
  #menubar
    %a{:href => "", :id => 'menu_compose'}
      %img{:src => '/images/menu_compose.png'}

    %a{:href => "", :id => 'menu_contacts'}
      %img{:src => '/images/menu_contacts.png'}
  #threadList

  #contactsList

#rightColumn
  .threadView
    .loading
      No Conversation Selected
