<div id="leftBar">
  <img src="<%= SB['message_compose.png'] %>" class="compose-button" alt="Compose" title="Compose" />
</div>
<div id="rightBar">
  <div class="version">
    TextJs - v1.1.0
  </div>
</div>
