<div id="leftBar">
  <a href="#" class="compose-button btn btn-primary">
    <img src="<%= SB['message_compose.png'] %>" alt="Compose" title="Compose" />
    New Message
  </a>
</div>
<div id="rightBar">
  <div class="version">
    TextJs
  </div>
</div>
