<div class="reply-cont">
  <textarea name="body"></textarea>
  <input type="submit" value="Send" class="btn btn-primary" />
  <input type="button" class="cancel btn btn-default" value="Cancel" />
  <span class="counter">160 / 1</span>
</div>
