<div class="reply-cont">
  <textarea name="body"></textarea>
  <input type="submit" value="Send" />
  <input type="button" class="cancel" value="Cancel" />
  <span class="counter">160 / 1</span>
</div>
